.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.text {
  font-size: 24px;
  font-weight: 600;
}

.textSm {
  font-size: 16px;
}

.icon {
  font-size: 18px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
