.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 50px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px 15px;
  border-radius: var(--border-radius2);
  font-size: 16px;
}

.form button {
  border: none;
  outline: none;
  padding: 16px;
  border-radius: var(--border-radius2);
  background-color: var(--primaryDark);
  color: var(--primaryLight2);
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form button:hover {
  cursor: pointer;
  color: var(--primaryYellow);
}

.warning {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: var(--primaryRed);
}
